[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/alembic"]
	path = 3rd_party/alembic
	url = https://github.com/alembic/alembic.git
[submodule "3rd_party/cnpy"]
	path = 3rd_party/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "3rd_party/cxxopts"]
	path = 3rd_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "3rd_party/eigen"]
	path = 3rd_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd_party/jsoncpp"]
	path = 3rd_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rd_party/vcglib"]
	path = 3rd_party/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd_party/imath"]
	path = 3rd_party/imath
	url = https://github.com/AcademySoftwareFoundation/Imath
